%section.invert-section.hero.bg-cover{:style=>"background-image:url(images/services_banner.png);"}
	.container
		.row
			.col-lg-12
				%h1
					our services 
.nav-secondary
	.container
		.row
			.col-lg-12
				%ul
					%li.active
						%a{:href=>"#"}
							COMFORT & TECHNOLOGY
					%li
						%a{:href=>"#"}
							COSMETIC DENTISTRY
					%li
						%a{:href=>"#"}
							DENTAL IMPLANTS 
					%li
						%a{:href=>"#"}
							GENERAL DENTISTRY
					%li
						%a{:href=>"#"}
							PREVENTATIVE CARE
					%li
						%a{:href=>"#"}
							PERIODONTAL DISEASE
%section.double-padding-top
	.container
		.row
			.col-sm-3.no-padding-right
				%ul.nav.nav-pills.nav-stacked.double-margin-bottom
					%li
						%a{:href => "#"} 
							Overview
					%li
						%a{:href => "#"} 
							Porcelain Veneers
					%li
						%a{:href => "#"} 
							Invisible Orthodontic Braces
					%li.active
						%a{:href => "#"} 
							In Office Whitening
					%li
						%a{:href => "#"} 
							Take Home Whitening
					%li
						%a{:href => "#"} 
							Smile Makeover
					%li
						%a{:href => "#"} 
							Inlays and Onlays
					%li
						%a{:href => "#"} 
							Tooth Bonding
					%li
						%a{:href => "#"} 
							Tissue Contouring
			.col-sm-9.border-left
				.padding-left.no-padding-left-sm
					%h5.heading-bordered.heading-bordered-left
						IN OFFICE WHITENING
					-3.times do
						%h4
							Why in office whitening?
						%p
							After brushing and flossing, do you look in the mirror and wonder why your teeth look dingy or yellow? Popular, safe and effective, teeth whitening has given patients across the world a reason to smile. Your appearance can affect you socially, emotionally and even in business success. People who smile with confidence are viewed as warm, inviting and beautiful. With professional whitening systems, the toughest stains can be removed to create a dazzling white, long-lasting smile in just over one hour.
						%hr

