//sections


section{
  padding:$baseline*3 0;
  background:white;
  &.hero{
  	  padding:$baseline*1.5 0;
  }
  &.invert-section{
    background-color:$primary-color;
    @extend %white_text;
  }
  &.off-white{
    background-color:$off-white-bg-color;
  }
  &.sign-up{
    background:$primary-color url(../images/sign_up_bg.png) center center scroll no-repeat;
    @include background-size(cover);
  }
}



