
%ul.nav.main-links
  %li.section-header
    Company
  %li
    %a{:href => "/mission"} 
      About Us
  %li
    %a{:href => "/products"} 
      Our Office
  %li
    %a{:href => "/company"} 
      Our Services
  %li
    %a{:href => "/press"} 
      Blog

%ul.nav.main-links
  %li.section-header
    Patients
  %li
    %a{:href => "/mission"} 
      Smile Gallery
  %li
    %a{:href => "/products"} 
      Testimonials
  %li
    %a{:href => "/company"} 
      Patient Library
  %li
    %a{:href => "/press"} 
      Payment Options


%hr
%p
  %ul.list-inline.menu-social
    %li
      %a{:href=>"#"}
        %i.fa.fa-facebook
    %li
      %a{:href=>"#"}
        %i.fa.fa-google-plus
    %li
      %a{:href=>"#"}
        %i.fa.fa-instagram
    %li
      %a{:href=>"#"}
        %i.fa.fa-twitter

  
%p
  Dental Elements | 1781 15th St 
  %br
  Denver, Colorado 80202
%p
  tel: +1 (303)409 4094  
  %br
  smile@dentalelements.com