%ul.nav.main-links
  %li
    %a{:href => "/mission"} 
      Our Mission
  %li
    %a{:href => "/products"} 
      Products
  %li
    %a{:href => "/company"} 
      Company
  %li
    %a{:href => "/press"} 
      Press
  %li
    %a{:href => "/blog"} 
      Blog