%section.invert-section.hero.bg-cover{:style=>"background-image:url(images/office_banner.png);"}
	.container
		.row
			.col-lg-12
				%h1
					office tour 
%section
	.container
		.row
			.col-lg-12
				.masonry-grid
					.grid-sizer
					.gutter-sizer
					.grid-item
						%a.fancybox-image{:href=>"images/office_1.png", :rel=>"office-gallery"}
							%img.full-width{:src=>"images/office_1.png"}
					.grid-item
						%a.fancybox-image{:href=>"images/office_2.png", :rel=>"office-gallery"}
							%img.full-width{:src=>"images/office_2.png"}
					.grid-item
						%a.fancybox-image{:href=>"images/office_3.png", :rel=>"office-gallery"}
							%img.full-width{:src=>"images/office_3.png"}
					.grid-item
						%a.fancybox-image{:href=>"images/office_4.png", :rel=>"office-gallery"}
							%img.full-width{:src=>"images/office_4.png"}
					.grid-item
						%a.fancybox-image{:href=>"images/office_5.png", :rel=>"office-gallery"}
							%img.full-width{:src=>"images/office_5.png"}
					.grid-item
						%a.fancybox-image{:href=>"images/office_6.png", :rel=>"office-gallery"}
							%img.full-width{:src=>"images/office_6.png"}
					.grid-item
						%a.fancybox-image{:href=>"images/office_7.png", :rel=>"office-gallery"}
							%img.full-width{:src=>"images/office_7.png"}
					.grid-item
						%a.fancybox-image{:href=>"images/office_8.png", :rel=>"office-gallery"}
							%img.full-width{:src=>"images/office_8.png"}
					.grid-item
						%a.fancybox-image{:href=>"images/office_9.png", :rel=>"office-gallery"}
							%img.full-width{:src=>"images/office_9.png"}
					.grid-item
						%a.fancybox-image{:href=>"images/office_10.png", :rel=>"office-gallery"}
							%img.full-width{:src=>"images/office_10.png"}
					.grid-item
						%a.fancybox-image{:href=>"images/office_11.png", :rel=>"office-gallery"}
							%img.full-width{:src=>"images/office_11.png"}


=partial"shared/sign_up_banner"