%section.invert-section.hero.bg-cover{:style=>"background-image:url(images/about_banner.png);"}
	.container
		.row
			.col-sm-7
				%h1
					about us
				%blockquote.light-font-name
					“Dr. Thurman takes the time to educate his patients on their procedures. I found him to be quite ethical and honest. If you’re looking for a dentist that tells you the truth and tries to help you figure out what needs attention now vs a year or two from now, and keeps you in the know, then Dr. Thurman is the dentist for you”
			.col-sm-5
%section
	.container
		.row
			.col-sm-7
				%p
					Your decision to choose us as your dental health care partner is a great compliment. Whether you live, work or play in Downtown Denver, you’re only steps away from our dental office. David R Thurman, DDS and his team are ready to make your visit relaxing and pleasant while providing you with the personalized and gentle care you deserve.
				%p
					Isn’t it time to do something nice for yourself? 
					%a{:href=>"#"}
						Contact us 
					today to make an appointment! We look forward to meeting you.
			.cl-sm-5
=partial"employee-accordian"
=partial"shared/sign_up_banner"
