;;;
"layout": "modal_small"
;;;

.container
	.row
		.col-md-4.text-center
			%img.img-circle.margin-bottom.img-responsive.margin-auto.double-margin-top{:src=>"images/employee.jpg", :width=>"240px"}
		.col-md-8
			%h2.quarter-margin-bottom
				Michael Montoya, EDDA
			%h6.bold-font-name
				%a{:href=>"mailto:michael@dentalelements.com"}
					michael@dentalelements.com
			%p
				Michael was born in Raton, NM and raised in Laramie, WY.
			%p				
				After finishing his studies, he moved to Colorado to pursue a career in dentistry in 2006. Michael received his dental assisting certificate from Concorde College in 2007 and worked at Denver Health Medical Center Dental Clinic.
			%p
				In 2009, He teamed up with Dr. Thurman to help establish and build Dental Elements. Receiving his EDDA (expanded duty dental assistant) certificate in 2010, he set about developing his clinical skills in restoring teeth. You’ll see Michael around the office wearing his distinctive loupes helping create beautiful smiles for life or helping you coordinate your treatment.
			%p
				Outside the office, Michael has been partnered for 5 years. He enjoys art, design, travel, cooking, spending time with family/ friends, his Frenchton puppy (Carter) and rocking a good pair of Gucci loafers.