;;;
"title": "blog"
;;;

%section.invert-section.hero.bg-cover{:style=>"background-image:url(images/blog_banner.png);"}
	.container
		.row
			.col-md-12
				%h1
					elements

%section.blog.blog-index
	.container
		.row
			.col-md-12
				-5.times do
					.post-thumb
						.row.padding-top
							.col-md-8
								%h4
									%a{:href=>"blog/single"}
										Article Title
								%h6.extra-light-text-color
									posted on march 31, 2015 
								%p.lead
									Curabitur vitae commodo ipsum. Maecenas non sapien auctor, gravida lectus quis, malesuada mi. Pellentesque accumsan rutrum odio, a scelerisque ligula pellentesque id. Nam auctor purus eget diam blandit, in semper urna commodo. Sed nec luctus est....
								%a.btn.btn-primary.margin-bottom{:href=>"blog/single"}
									READ MORE
							.col-md-1
							.col-md-3
								%a{:href=>"blog/single"}
									%img.img-responsive.margin-bottom.margin-top{:src=>"images/featured_img.png", :width=>"169"}
						%hr
						
	.container
		.row
			.col-md-12
				%nav
					%ul.pager
						%li
							%a{:href => "#"} 
								%i.md.md-arrow-back
								%span.margin-left
								Older
								
						%li
							%a{:href => "#"} 
								Newer
								%span.margin-right
								%i.md-arrow-forward
