;;;
"title": "Home"
;;;

%section.invert-section.hero.bg-cover{:style=>"background-image:url(images/home_banner.png);"}
	.container
		.col-lg-12
			%h1
				We Create 
				%br
				%span.light-font-name
					Beautiful Smiles. 
				%br
				For life.
			%a.btn.btn-primary{:href=>"/smiles"}
				VIEW OUR SMILE GALLERY
%section
	.container
		.col-lg-12
			%h5.text-center.heading-bordered
				A step above excellence 
		.row
			.col-md-6
				.padded
					%img.img-responsive.margin-bottom{:src=>"images/home_office.png"}
			.col-md-6
				.margin-top.padded
					%p
						As a leading Denver dental office, Dental Elements is uniquely qualified to handle even the most complex cases. Our modern cosmetic dental office in Lower Downtown Denver is a state of the art facility designed to offer you comfort and convenience while providing superior experience and expertise. We work with our patients to achieve and maintain attractive smiles, exquisite teeth and healthy gums..
					%p
						When you visit our office, your smile is our top priority. Our Lower Downtown Denver dental office features the cutting-edge technology, materials and procedures to make your smile dreams a reality! Whether you are looking to replace missing teeth with dental implants, rejuvenate your look with cosmetic dentistry or refresh your smile with a thorough cleaning, you are sure to be thrilled with your experience at Dental Elements.
		.row
			.text-center.double-margin-top
				%a.btn.btn-primary{:href=>"/about"}
					Learn More About Us

.container
	.col-lg-12
		%hr
%section
	.container
		.col-lg-12
			%h5.text-center.heading-bordered
				WHAT OUR SMILES ARE SAYING
		.row
			.col-md-6.col-md-push-6
				.padded.no-padding-bottom
					%img.img-responsive{:src=>"images/home_testimonial.png", :style=>"position:relative; top:-30px;"}
			.col-md-6.col-md-pull-6
				.margin-top.padded.no-padding-top
					%blockquote
						“Dr. Thurman takes the time to educate his patients on their procedures. I found him to be quite ethical and honest. If you’re looking for a dentist that tells you the truth and tries to help you figure out what needs attention now vs a year or two from now, and keeps you in the know, then Dr. Thurman is the dentist for you..”
						%footer
							Joan D.
		.row
			.text-center.double-margin-top
				%a.btn.btn-primary{:href=>"/testimonials"}
					HEAR FROM MORE PATIENTS
=partial"shared/sign_up_banner"